<!DOCTYPE html>
<html>
<head>
    <title>Edit part</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/static/jquery3.1.js"></script>
    <script type="text/javascript" src="/static/edit.js"></script>
    <style type="text/css">
        div{
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

<div><b>ВВЕДИТЕ НОВЫЕ ЗНАЧЕНИЯ</b></div>
<div>
    <form method="post" action="update">

        <input hidden name="id" value="{{part.id}}">
        <input type="text" required="true" name="type" value="{{part.type}}" placeholder="Наименование"/>
        <input class="ch" type="checkbox" name="checkbox" value="true"> Обязательно при сборке
        <input type="number" min="1" required="true" name="quantity" value="{{part.quantity}}" placeholder="Количество"/>
        <!-- костыль-посредник между mustache  и js-->
        <input hidden class="hiddenNecessary" value="{{part.isNecessary}}">
        <button type="submit" name="button" value="update">Изменить</button>

    </form>
</div>
<div>

    <form method="get" action="/home">
        <button type="submit" name="button" value="cancel">Отмена</button>
    </form>
</div>


</body>
</html>