<!DOCTYPE html>
<html>
<head>
    <title>Parts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/static/jquery3.1.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
    <link href="/static/main.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<form method="get" action="/home">
      <button class="add_btn" type="submit">HOME</button>

</form>
<!-- Добавляем деталь-->
<form method="post" action="/">

        <input type="text" required="true" name="type" placeholder="Наименование"/>
        <input type="checkbox" name="checkbox" value="true"> Обязательно при сборке
        <input type="number" min="1" required="true" name="quantity" placeholder="Количество"/>
        <button class="add_btn" type="submit">Добавить новую деталь</button>

</form>
<!-- поиск по наименованию-->
<div>
    <form method="get" action="/">

        <input class="text-input1" type="text" name="type" value="{{type}}" placeholder="Поиск детали по наименованию">
        <button type="submit">Найти</button>
    </form>

</div>
<!-- фильтрация по необходимости деталей-->
<div class="div1">
    <form method="get" action="/filter">
        <p><b>Отобразить на странице:</b></p>
        <input class="r1" required ="true" checked type="radio" name="filter" value="all">Все детали
        <input class="r2" required ="true" type="radio" name="filter" value="necessary">Только необходимые
        <input class="r3" required ="true" type="radio" name="filter" value="unnecessary">Только опциональные
        <!-- костыль-посредник между mustache  и js-->
        <input hidden class="value" value="{{value}}">

        <button type="submit">Отфильтровать</button>
    </form>

</div>


<div>
    <table class="tg" >
        <tr>
            <th width="250">Тип детали</th>
            <th width="120">Необходимость</th>
            <th width="50">Количество</th>
            <th colspan="2">Операции</th>
        </tr>
        {{#parts}}
        <tr>
            <td>{{type}}</td>
            <!-- transform boolean to String-param in mustache-->
            <td>{{#isNecessary}}да{{/isNecessary}}{{^isNecessary}}нет{{/isNecessary}}</td>
            <td>{{quantity}}</td>
            <!-- изменить запись-->
            <td><form method="post" action="edit"><button type="submit" name="name" value="{{id}}">Изменить</button></form></td>
            <!-- удалить запись-->
            <td><form method="post" action="delete"><button type="submit" name="name" value="{{id}}">Удалить</button></form></td>
        </tr>
        {{/parts}}

    </table>
</div>
<div class="div2">
    {{^parts}}
    <b>Нет доступных частей</b>
    {{/parts}}</div>
<div><b>Всего можно собрать: {{total}} компьютер{{ending}}</b></div>
<div>
    Перейти на страницу:
    {{#array}}
    <a href="{{url}}page={{key}}">{{value}}</a>
    {{/array}}
    {{^array}}
    -
    {{/array}}
</div>


</body>
</html>